.main-aside {
  background-color: var(--color-background);
  padding: calc(var(--prem) * 2);
  position: fixed;
  left: -100%;
  bottom: 0;
  // Top also set inline by js
  top: 0;
  border-right: 1px solid var(--color-border);
  overflow-y: scroll;
  transition: left var(--time-medium) var(--timing-function);
  z-index: 1;
  @media screen and (min-width: 1000px) {
    position: static;
  }
  &.open {
    left: 0%;
  }
  h2 {
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 1rem;
    button {
      @media screen and (min-width: 1000px) {
        display: none;
      }
    }
  }
  nav {
    display: flex;
    flex-direction: column;
    a {
      padding-block: 0.5rem;
      border-left: 1px solid var(--color-border);
      padding-left: 1rem;
      transition-property: border-color, color, opacity;
      transition-duration: var(--time-fast);
      transition-timing-function: var(--timing-function);
      opacity: 0.85;
      &.active {
        border-color: var(--color-accent);
        color: var(--color-primary);
      }
      &:hover {
        opacity: 1;
        border-color: var(--color-accent);
        color: var(--color-text);
      }
    }
  }
}
