.main-header {
  padding: 1.5rem calc(var(--prem) * 2);
  border-bottom: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  line-height: 1;
  @media (min-width: 1000px) {
    flex-direction: row;
  }
  & > a {
    font-size: 1.5rem;
    display: flex;
    gap: 0.75rem;
    align-items: center;
    svg {
      color: var(--color-accent);
    }
  }
  & > div {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    button {
      @media (min-width: 1000px) {
        display: none;
      }
    }
    a {
      color: var(--color-accent);
    }
  }
}
