.switch {
  --width: 3rem;
  --height: 1.5rem;
  --ball-margin: 4px;

  input {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    &:focus-visible + .slider {
      outline: 2px solid var(--color-accent);
    }
    &:checked + .slider {
      background-color: #2196f3;
      &::before {
        translate: calc(var(--width) - 100% - var(--ball-margin) * 2);
      }
    }
  }
  .slider {
    position: relative;
    width: var(--width);
    height: var(--height);
    cursor: pointer;
    inset: 0;
    background-color: var(--color-secondary-border);
    transition: background-color var(--time-medium) var(--timing-function);
    border-radius: var(--height);

    &::before {
      position: absolute;
      content: "";
      height: calc(var(--height) - var(--ball-margin) * 2);
      width: calc(var(--height) - var(--ball-margin) * 2);
      left: var(--ball-margin);
      top: var(--ball-margin);
      border-radius: var(--height);
      background-color: white;
      transition: translate var(--time-medium) var(--timing-function);
    }
  }
}
