:root {
  --color-text: hsl(0, 0%, 94%);
  --color-text-subtle: hsl(203, 15%, 70%);
  --color-text-blue: hsl(203, 40%, 75%);
  --color-background: hsl(203, 10%, 9%);
  --color-background-blue: hsl(203, 40%, 8%);
  --color-border: hsl(203, 12%, 17%);
  --color-primary: hsl(203, 80%, 50%);
  --color-secondary: hsl(203, 40%, 15%);
  --color-secondary-border: hsl(203, 40%, 25%);
  --color-accent: hsl(25, 78%, 51%);

  --time-fast: 100ms;
  --time-medium: 200ms;
  --time-slow: 400ms;

  --timing-function: ease;

  // SIZES
  --prem: 1rem;
  @media (max-width: 500px) {
    --prem: 0.75rem;
  }

  --mb-paragraph: 1rem;
  --mb-heading: 1.5rem;
  --mb-section: 2.5rem;
}
