.transfer-list-instructions {
  margin-bottom: var(--mb-paragraph);
  .columns {
    display: grid;
    @media (min-width: 700px) {
      grid-template-columns: 1fr 1fr;
    }
    gap: 1rem;
  }
  img {
    width: 100%;
    border-radius: 2px;
  }
}

.transfer-list-implementation {
  background-color: var(--color-background-blue);
  border: 1px solid var(--color-border);
  padding: 1rem;
  margin-bottom: var(--mb-paragraph);
  .settings {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    & > label:first-of-type {
      width: 100%;
    }
    & > div {
      display: flex;
      gap: 1rem;
      text-transform: uppercase;
      align-items: center;
    }
  }
  .game {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    @media (min-width: 1000px) {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
    }
    & > div {
      display: grid;
      grid-column: 1/3;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      @media (min-width: 1000px) {
        grid-column: 2/3;
        grid-row: 1/2;
        grid-template-columns: auto;
        & > button:first-of-type {
          grid-row: 2/3;
        }
      }
    }
  }
  ul {
    border: 1px solid var(--color-secondary-border);
    padding-left: 0;
    padding: calc(var(--prem) * 2);
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    list-style: none;
    // TODO: Fix magic number. This will break if number of items change.
    min-height: 96px;
    box-sizing: content-box;
    display: block;
  }
  label {
    display: flex;
    align-items: center;
  }
  input {
    margin-right: 0.5rem;
    height: 1rem;
    width: 1rem;
  }
  button {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary-border);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter var(--time-fast) var(--timing-function);
    &:hover {
      filter: brightness(1.1);
    }
    &:active {
      filter: brightness(0.9);
    }
  }
}
