.transfer-list {
  background-color: var(--color-background-light);
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  @media (min-width: 1000px) {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }
  ul {
    border: 1px solid var(--color-secondary-border);
    border-radius: 0.25rem;
    padding: calc(var(--prem) * 2);
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  label {
    display: flex;
    align-items: center;
  }
  input {
    margin-right: 0.5rem;
    height: 1rem;
    width: 1rem;
  }
  & > div {
    display: grid;
    grid-column: 1/3;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    @media (min-width: 1000px) {
      grid-column: 2/3;
      grid-row: 1/2;
      grid-template-columns: auto;
    }
  }
  button {
    background-color: var(--color-secondary-border);
    padding: 1rem;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter var(--time-fast) var(--timing-function);
    &:hover {
      filter: brightness(1.1);
    }
    &:active {
      filter: brightness(0.9);
    }
  }
}
