.transfer-list-instructions {
  margin-bottom: 2rem;
  .columns {
    display: grid;
    @media (min-width: 700px) {
      grid-template-columns: 1fr 1fr;
    }
    gap: 1rem;
  }
  ol {
    padding-left: 1rem;
    color: var(--color-text-subtle);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  img {
    width: 100%;
    border-radius: 8px;
  }
}

.transfer-list-challenge {
  background-color: var(--color-background-light);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  .settings {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    & > label:first-of-type {
      width: 100%;
    }
    & > div {
      display: flex;
      gap: 1rem;
      text-transform: uppercase;
      align-items: center;
    }
  }
  .game {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    @media (min-width: 1000px) {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
    }
    & > div {
      display: grid;
      grid-column: 1/3;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      @media (min-width: 1000px) {
        grid-column: 2/3;
        grid-row: 1/2;
        grid-template-columns: auto;
      }
    }
  }
  ul {
    border: 1px solid var(--color-secondary-border);
    border-radius: 4px;
    padding: calc(var(--prem) * 2);
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  label {
    display: flex;
    align-items: center;
  }
  input {
    margin-right: 0.5rem;
    height: 1rem;
    width: 1rem;
  }
  button {
    background-color: var(--color-secondary-border);
    padding: 1rem;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter var(--time-fast) var(--timing-function);
    &:hover {
      filter: brightness(1.1);
    }
    &:active {
      filter: brightness(0.9);
    }
  }
}
