@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;700&display=swap");

a {
  color: inherit;
  text-decoration: none;
}

p,
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
}

h1 {
  font-size: 2.5rem;
}

button {
  background-color: transparent;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Sofia Sans", sans-serif;
  &.open {
    position: fixed;
    inset: 0;
  }
}

#root {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  & > header {
    padding: 1.5rem 2rem;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    line-height: 1;
    @media (min-width: 1000px) {
      flex-direction: row;
    }
    & > a {
      font-size: 1.5rem;
      display: flex;
      gap: 0.75rem;
      align-items: center;
      svg {
        color: var(--color-accent);
      }
    }
    & > div {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      button {
        @media (min-width: 1000px) {
          display: none;
        }
      }
      a {
        color: var(--color-accent);
      }
    }
  }
}

main {
  position: relative;
  @media (min-width: 1000px) {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}

aside {
  background-color: var(--color-background);
  padding: 2rem;
  position: fixed;
  left: -100%;
  bottom: 0;
  // Top also set inline by js
  top: 0;
  border-right: 1px solid var(--color-border);
  overflow-y: scroll;
  transition: left var(--time-medium) var(--timing-function);
  z-index: 1;
  @media screen and (min-width: 1000px) {
    position: static;
  }
  &.open {
    left: 0%;
  }
  h2 {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    button {
      @media screen and (min-width: 1000px) {
        display: none;
      }
    }
  }
  nav {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

section {
  padding-bottom: 2rem;
}

.container {
  max-width: 1000px;
  margin-inline: auto;
  padding-inline: 2rem;
}

.page-content {
  transition: filter var(--time-medium) var(--timing-function);
  padding-top: 2rem;
  height: 100%;
  &.open {
    filter: blur(4px) brightness(0.5);
  }
}
