:root {
  --color-text: #ededed;
  --color-text-subtle: hsl(195, 15%, 70%);
  --color-background: #161718;
  --color-border: #272c31;
  --color-primary: hsl(195, 80%, 45%);
  --color-secondary: #152d3c;
  --color-accent: #e47221;

  --time-fast: 100ms;
  --time-medium: 200ms;
  --time-slow: 400ms;

  --timing-function: ease;
}
