@use "core/reset";
@use "core/variables";
@use "core/global";

@use "components/header";
@use "components/aside";
@use "components/toggle-switch";
@use "components/folding-section";

@use "challenges/country-game";
@use "challenges/transfer-list";
